@tailwind preflight;
@tailwind components;
@tailwind utilities;


.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    height: 1em;
}

.input-sizer::after, .input-sizer input {
    @apply tracking-tighter;
    min-width: 0;
    grid-area: 0.5;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
}

.input-sizer input {
    text-align: center;
    font: inherit;
    color: hsl(95, 38%, 62%);
}

.input-sizer input::selection {
    background-color: #474a46;
}

.input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 1.02em;
}

.input-sizer:focus-within textarea:focus, .input-sizer:focus-within input:focus {
    outline: none;
}

input[type="submit"] {
    all: unset;
	/* background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; */
}

a {
    all: unset;
}

.token.decorator {
    color: #c9b834;
}

.token.self {
    color: #e35d5d;
}
