@tailwind preflight;
@tailwind components;
@tailwind utilities;


pre, code {
    margin: 0;
    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

.token.decorator {
    color: #c9b834;
}

.token.self {
    color: #e35d5d;
}

/* #code code span.token.string:not(.triple-quoted-string) { /* single quote inputs *//*
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
} */
